<footer>
    <a target="_blank" href="http://twitter.com/gramsco"><i class="fab fa-twitter"></i></a>
    <a target="_blank" href="http://github.com/gramsco"><i class="fab fa-github"></i></a>
</footer>